:root {
  --gutter: 1em;
  --nav-height: 45px;
}

html,
body {
  height: 100%;
  margin: 0
}

nav{
  height: var(--nav-height);
  min-width: 300px;
}

body {
  padding-top: var(--nav-height);
  height: 100%;
}

/*HOME PAGE*/

.white{
  color: #ffffff;
}

.bg-image-full {
  background: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
}

.cover-image{
  padding-top: 0.2em;
}

.left-tile {
      padding: 0 0 0.2em 0;
}

@media (min-width: 768px) {
  .left-tile {
      padding: 0 0.2em 0 0;
  }
}

.display-3{
  margin-left: 0.5em;
}












/*CREATE PAGE*/

.app{
  background-color: #f5f9ff;
  position: absolute;
  width: 100vw;
}

.scroll-page{
  overflow-x: scroll;
}

.hs{
  display: grid;
  grid-gap: var(--gutter);
  justify-items: stretch;
  justify-content: start;
  align-items: start;
  align-content: start;
  grid-auto-columns: 250px;
  grid-auto-rows: calc(100vh - var(--nav-height));
  grid-auto-flow: column;
  padding: 0 var(--gutter);
  float: left;
}

.item {
  display: block;
  position: relative;
  margin: var(--gutter) 0;
  padding: var(--gutter);
  background-color: #dfe2e8;
  border: solid 1px grey;
  border-radius: 5px;
}

.exercises{
  float: left;
  background-color: #525954;
  color: #ffffff;
  padding: var(--gutter);
  width: 250px;
  margin: 0;
  height: calc(100vh - var(--nav-height));
  border: 0;
  border-right: solid 1px grey;
  border-radius: 0px;
  z-index: 10;
  transition: 0.5s;
}

.exercises.hide {
  opacity: 0;
  transition: 0.5s;
}

.external-border{
  border: solid 1px white;
  padding: 0.25em;
  border-radius: 5px;
  height:auto;
}

.exercises .scroll-exercises{
  max-height: calc(100vh - 188px);
}

.workout{
  max-height: calc(100vh - var(--nav-height) - 2 * var(--gutter));
}

.workout-title{
  position: relative;
}

.workout .scroll-exercises{
  max-height: calc(100vh - var(--nav-height) + 10px - 10 * var(--gutter));
}

.scroll-exercises{
  overflow-y: scroll;
  margin-bottom: 6px;
}

.scroll-exercises > :last-child{
  margin-bottom: 0px;
}

.item .invisible{
  display: none;
}


.new-exercise-input{
  border-radius: 5px;
  padding: 4px 8px;
  position: static;
  border: 1px solid #6c757d;
  width: 100%;
  margin: 0px;
  color: #6c757d;
}

.new-exercise-input:focus{
  box-shadow: none;
  border: 1px solid rgba(81, 203, 238, 1);
  border-radius: 5px;
  outline: none;
}

.new-exercise-input::placeholder{
  color: #6c757d;
}

.card-placeholder{
  border: solid 1px black;
}

.exercises h3{
  margin-top: 11px;
}

.item li, .card-placeholder {
  list-style-type: none;
  color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 6px;
  padding: 4px 8px;
  position: relative;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.item li.active{
  background-color: #c1c4c9;
}

.set-border{
  background-color: rgba(255,255,255,0);
  border: solid 3px white;
  /*border-top-width: 10px;
  border-bottom-width: 10px;*/
  padding: 0.25em;
  border-radius: 5px;
  margin-bottom: 6px;
  overflow: hidden;
  position: relative;
}

.set-border li:last-child, .set-border .card-placeholder:last-child{
  margin-bottom: 0px;
}

.set-border.active li, .set-border.active .card-placeholder {
  margin-right: 35px;
  transition: 0.2s;
}

.set-sidebar{
  background-color: #ffffff;
  color: #000000;
  position: absolute;
  display: flex;
  flex-flow: column;
  top: 0px;
  right: -3px;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-column: right;
  z-index:100;
  width: 0px; /*HERE*/
  visibility: hidden; /*HERE*/
  overflow: hidden; /*HERE*/
  transition: 0.2s;
}

.active .set-sidebar{
  visibility: visible;
  width: 38px;
  transition: 0.2s;
}

.set-icons{
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 32px;
  height: 30px;
  line-height: 2em;
  vertical-align: middle;
}

.set-icons-arrows{
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 32px;
  height: 30px;
  line-height:2em;
  vertical-align:middle
}

.set-icons-arrows:hover{
  background-color: #989a9e;
}

.title-icons {
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  text-align: right;
  /*display: flex;*/
  visibility: hidden;
  z-index: 40;
}

.active .title-icons {
  visibility: visible;
}

.icons{
  /*background-color: #c1c4c9;*/
  top: 0px;
  right: 0px;
  position: absolute;
  display: inline-block;
  text-align: right;
  top: 0px;
  bottom: 0px;
  z-index: 20;
  visibility: hidden;
}

li.active .icons {
  visibility: visible;
}

li.active .main-icons {
  top: 0px;
  right: 0px;
  padding: 2px;
  padding-right: 4px;
  width: 60px;
  position: relative;
  z-index: 30;
  text-align: right;
/*
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;*/
}

.more-icons{
  overflow: hidden;
  top: 0px;
  right: 0px;
  padding: 4px;
  position: absolute;
  display: flex;
  z-index: 40;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #ffffff;
  visibility: hidden;
  opacity: 0;
  width: 60px;
  transition: 0.5s;
  transition: width .4s 0s, opacity 0.1s .4s, visibility 0s .5s;
}

li.active .more-icons{
  background-color: #c1c4c9;
}

.more-icons.show{
  background-color: #c1c4c9;
  visibility: visible;
  opacity: 1;
  width: calc(144px + 8px);
  transition: width .4s 0s, opacity 0.1s 0s;
}

.material-icons{
  font-size: 1em;
  border-radius: 3px;
  padding: 4px;
  margin: auto;
  vertical-align: middle;
}

.material-icons:hover{
  background-color: #989a9e;;
}

.reps{
  font-size: 0.8em;
  display: none;
}

.icon-edit::after {
  content: "edit";
}

.icon-delete::after {
  content: "delete";
}

.icon-time::after{
  content: "alarm_add";
}

.icon-rep::after{
  content: "repeat";
}

.icon-add-set::after{
  content: "add_to_queue";
}

.icon-rem-set::after{
  content: "remove_from_queue";
}

.icon-weight::after{
  content: "fitness_center";
}

.icon-more::after{
  content: "more_vert";
}

.icon-set:hover{
  background-color: rgba(255,255,255,0);
}

.icon-set::after{
  content: "repeat";
}

.icon-clear-set{
  opacity: 0;
}

.icon-clear-set:hover{
  opacity: 1;
}

.icon-clear-set::after{
  content: "clear";
}

.stack-icons{
  font-size: 1.8em;
  padding: 1px;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.number-sets{
  font-size: 0.6em;
  padding: 0px;
}

.icon-more-set::after{
  content: "keyboard_arrow_up";
}

.icon-less-set::after{
  content: "keyboard_arrow_down";
}


/*NAVBAR FORMATTING*/

.navbar{
  padding: 0 1em;
}

.navbar-collapse{
  margin-left: -16px;
  margin-right: -16px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (max-width :767px){
  .navbar-collapse.show {
  padding-bottom: 1em;
  }
}

.navbar-brand img{
  height: calc( var(--nav-height) - 10px);
}

.theme-color{
  background-color: #000000 !important;
}

.navigation-link, 
#sidebar-toggler{
  color: #ffffff;
  display: block;
  border-radius: 0.25em;
  border: none;
  padding: 0.25em 1em;
  color: #ffffff;
  }

.navigation-link:hover,
#sidebar-toggler:hover{
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  color: #000000;
  background-color: #ffffff;
  z-index: 10;
}

.dropdown-menu{
  border-radius: 0.5em;
  border: none;
}

.dropdown-item {
  color: #ffffff;
  border-radius: 0.5em;
}

.dropdown-inset {
  padding-left: 2em;
}

.form-control-sm{
  border-width: 0 0 2px;
  border-color: #ffffff;
  border-radius: 0;
  color: #ffffff;
  margin-left: -1em;
}

.form-control-sm::placeholder{
  color: #ffffff;
  font-size: 1em;
}

:focus{
  outline: none;
}

.navbar-toggler.custom{
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0);
}

.navbar-toggler:hover{
  border-width: 1px;
  border-color: #ffffff ;
}


.navbar-toggler:focus:hover{
  outline: none;
  border-width: 1px;
  border-color: #ffffff;
}

