:root {
  --gutter: 1em;
  --nav-height: 45px;
}

html,
body {
  height: 100%;
  margin: 0
}

nav{
  height: var(--nav-height);
  min-width: 300px;
}

body {
  padding-top: var(--nav-height);
  height: 100%;
}

/*HOME PAGE*/

.white{
  color: #ffffff;
}

.bg-image-full {
  background: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
}

.cover-image{
  padding-top: 0.2em;
}

.left-tile {
      padding: 0 0 0.2em 0;
}

@media (min-width: 768px) {
  .left-tile {
      padding: 0 0.2em 0 0;
  }
}

.display-3{
  margin-left: 0.5em;
}












/*CREATE PAGE*/

.app{
  background-color: #f5f9ff;
}

.scroll-page{
  overflow-x: scroll;
}

.hs{
  display: grid;
  grid-gap: var(--gutter);
  justify-items: stretch;
  justify-content: start;
  align-items: start;
  align-content: start;
  grid-auto-columns: 250px;
  grid-auto-rows: calc(100vh - var(--nav-height));
  grid-auto-flow: column;
  padding: 0 var(--gutter);
  float: left;
}

.item{
  display: inline-block;
  margin: var(--gutter) 0;
  padding: var(--gutter);
  background-color: #dfe2e8;
  border: solid 1px grey;
  border-radius: 5px;
}

.exercises{
  float: left;
  background-color: #525954;
  color: #ffffff;
  padding: var(--gutter);
  width: 250px;
  margin: 0;
  height: calc(100vh - var(--nav-height));
  border: 0;
  border-right: solid 1px grey;
  border-radius: 0px;
  z-index: 10;
  transition: 0.5s;
  white-space: nowrap;
}

.hide {
  width: 0px;
  padding: var(--gutter) 0px;
  border: none;
  opacity: 0;
  transition: 0.5s;
}

.external-border{
  border: solid 1px white;
  padding: 0.25em;
  border-radius: 5px;
  height:auto;
}

.workout{
  max-height: calc(100vh - var(--nav-height) - 2 * var(--gutter));
}

.item li, .new-exercise-input{
  color: #000000;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 6px;
  padding: 4px 8px;
}

.new-exercise-input{
  border: 1px solid #6c757d;
  width: 100%;
  margin: 0px;
  background-color: rgba(255,255,255,1);
  color: #6c757d;

}

.new-exercise-input:focus{
  box-shadow: none;
  border: 1px solid rgba(81, 203, 238, 1);
  border-radius: 5px;
  outline: none;
}

.new-exercise-input::placeholder{
  color: #6c757d;
}

.item ul{
  margin: 0px;
}

.exercises .scroll-exercises{
  overflow-y: scroll;
  max-height: calc(100vh - 172px);
}

.workout .scroll-exercises{
  overflow-y: scroll;
  max-height: calc(100vh - var(--nav-height) + 10px - 7 * var(--gutter));
 }

.exercises h3{
  margin-top: 11px;
}


















/*NAVBAR FORMATTING*/

.navbar{
  padding: 0 1em;
}

.navbar-collapse{
  width: 100%;
  margin-left: -16px;
  margin-right: -16px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (max-width :767px){
  .navbar-collapse.show {
  padding-bottom: 1em;
  }
}

.navbar-brand img{
  height: calc( var(--nav-height) - 10px);
}

.theme-color{
  background-color: #000000 !important;
}

.navigation-link, 
#sidebar-toggler{
  padding-left: 1em;
  padding-right: 1em;
  color: #ffffff;
}

.navigation-link, 
#sidebar-toggler{
  display:block;
  border-radius: 0.25em;
  border: none;
  padding: 0.25em 1em;
  color: #ffffff;
}

.navigation-link:hover,
#sidebar-toggler:hover{
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  color: #000000;
  background-color: #ffffff;
  z-index: 10;
}

.dropdown-menu{
  border-radius: 0.5em;
  border: none;
}

.dropdown-item {
  color: #ffffff;
  border-radius: 0.5em;
}

.dropdown-inset {
  padding-left: 2em;
}

.form-control-sm{
  border-width: 0 0 2px;
  border-color: #ffffff;
  border-radius: 0;
  color: #ffffff;
  margin-left: -1em;
}

.form-control-sm::placeholder{
  color: #ffffff;
  font-size: 1em;
}

.form-control-sm:focus{
  outline: none;
}

.navbar-toggler.custom{
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0);
}

.navbar-toggler:hover{
  border-width: 1px;
  border-color: #ffffff ;
}

.navbar-toggler:focus{
  outline: none;
}

.navbar-toggler:focus:hover{
  outline: none;
  border-width: 1px;
  border-color: #ffffff;
}

