:root {
  --gutter: 1em;
  --nav-height: 45px;
}

html,
body {
  height: 100%;
  margin: 0
}

nav{
  height: var(--nav-height);
  min-width: 300px;
}

body {
  padding-top: var(--nav-height);
  height: 100%;
}

/*HOME PAGE*/

.white{
  color: #ffffff;
}

.bg-image-full {
  background: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
}

.cover-image{
  padding-top: 0.2em;
}

.left-tile {
      padding: 0 0 0.2em 0;
}

@media (min-width: 768px) {
  .left-tile {
      padding: 0 0.2em 0 0;
  }
}

.display-3{
  margin-left: 0.5em;
}












/*CREATE PAGE*/

.app{
  background-color: #f5f9ff;
}

.scroll-page{
  overflow-x: scroll;
}

.hs{
  display: grid;
  grid-gap: var(--gutter);
  justify-items: stretch;
  justify-content: start;
  align-items: start;
  align-content: start;
  grid-auto-columns: 250px;
  grid-auto-rows: calc(100vh - var(--nav-height));
  grid-auto-flow: column;
  padding: 0 var(--gutter);
  float: left;
}

.item{
  display: inline-block;
  margin: var(--gutter) 0;
  padding: var(--gutter);
  background-color: #dfe2e8;
  border: solid 1px grey;
  border-radius: 5px;
}

.exercises{
  float: left;
  background-color: #525954;
  color: #ffffff;
  padding: var(--gutter);
  width: 250px;
  margin: 0;
  height: calc(100vh - var(--nav-height));
  border: 0;
  border-right: solid 1px grey;
  border-radius: 0px;
  z-index: 10;
  transition: 0.5s;
  white-space: nowrap;
}

.hide {
  width: 0px;
  padding: var(--gutter) 0px;
  border: none;
  opacity: 0;
  transition: 0.5s;
}

.external-border{
  border: solid 1px white;
  padding: 0.25em;
  border-radius: 5px;
  height:auto;
}

.workout{
  max-height: calc(100vh - var(--nav-height) - 2 * var(--gutter));
}

.card-placeholder{
  border: solid 1px black;
}

.item li, .new-exercise-input{
  color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 6px;
  padding: 4px 8px;
  position: relative;
}

.invisible{
  display: none;
}

.hold{
  background-color: red;
}

.item .list-form-container{
  padding: 0px;
  margin: 0px;
}

 .new-exercise-input{
  border: 1px solid #6c757d;
  width: 100%;
  margin: 0px;
  color: #6c757d;
}

.new-exercise-input:focus{
  box-shadow: none;
  border: 1px solid rgba(81, 203, 238, 1);
  border-radius: 5px;
  outline: none;
}

.new-exercise-input::placeholder{
  color: #6c757d;
}

.item ul{
  margin: 0px;
}

.exercises .scroll-exercises{
  overflow-y: scroll;
  max-height: calc(100vh - 172px);
}

.workout .scroll-exercises{
  overflow-y: scroll;
  max-height: calc(100vh - var(--nav-height) + 10px - 7 * var(--gutter));
 }

.exercises h3{
  margin-top: 11px;
}

.item li.active{
  background-color: #bbbec4;
}

.list-card-operation {
    background-color: #000000;
    color: #ffffff;
    opacity: 0.8;
    border-radius: 3px;
    padding: 4px;
    position: absolute;
    right: 2px;
    top: 2px;
    visibility: hidden;
    z-index: 40;
}

.active .list-card-operation{
  visibility: visible;
}

.icon-edit {
  content: ;
  /*content: "<svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 011.414 0l2 2a1 1 0 010 1.414l-9 9a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" clip-rule="evenodd"/>
  <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 00.5.5H4v.5a.5.5 0 00.5.5H5v.5a.5.5 0 00.5.5H6v-1.5a.5.5 0 00-.5-.5H5v-.5a.5.5 0 00-.5-.5H3z" clip-rule="evenodd"/>
</svg>";*/
}









/*NAVBAR FORMATTING*/

.navbar{
  padding: 0 1em;
}

.navbar-collapse{
  margin-left: -16px;
  margin-right: -16px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (max-width :767px){
  .navbar-collapse.show {
  padding-bottom: 1em;
  }
}

.navbar-brand img{
  height: calc( var(--nav-height) - 10px);
}

.theme-color{
  background-color: #000000 !important;
}

.navigation-link, 
#sidebar-toggler{
  color: #ffffff;
  display:block;
  border-radius: 0.25em;
  border: none;
  padding: 0.25em 1em;
  color: #ffffff;
  }

.navigation-link:hover,
#sidebar-toggler:hover{
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  color: #000000;
  background-color: #ffffff;
  z-index: 10;
}

.dropdown-menu{
  border-radius: 0.5em;
  border: none;
}

.dropdown-item {
  color: #ffffff;
  border-radius: 0.5em;
}

.dropdown-inset {
  padding-left: 2em;
}

.form-control-sm{
  border-width: 0 0 2px;
  border-color: #ffffff;
  border-radius: 0;
  color: #ffffff;
  margin-left: -1em;
}

.form-control-sm::placeholder{
  color: #ffffff;
  font-size: 1em;
}

.form-control-sm:focus{
  outline: none;
}

.navbar-toggler.custom{
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0);
}

.navbar-toggler:hover{
  border-width: 1px;
  border-color: #ffffff ;
}

.navbar-toggler:focus{
  outline: none;
}

.navbar-toggler:focus:hover{
  outline: none;
  border-width: 1px;
  border-color: #ffffff;
}

